body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  width: 400px;
  height: 200px;
  display: grid;
  grid-template-columns: minmax(40px, 80px) minmax(0, 120px) minmax(40px, 80px);
}

.left {
  background-color: blue;
}

.middle {
  background-color: red;
}

.right {
  background-color: yellow;
}